<div class="ngdialog-message" ng-controller="editExpenseController">
            <h3>Edit Expense</h3>
        </div>
        <form>
          <label>Name: </label><input type="text" ng-model="edit.name"/><br />
          <label>Amount: </label><input type="text" ng-model="edit.name"/><br />
          <label>Date: </label><input type="text" ng-model="edit.name"/>     
        </form>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
</div>
